<div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contant-section">
      <h2 class="h2 fw-light text mb-4">Contact</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
          <div class="mt-1">
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> asger.thyregod@gmail.com</div>
          </div>
          <div class="mt-5 d-print-none">
            <form>
              <div class="form-outline mb-4">
                <input ngModel name="Test" type="text" id="name" class="form-control" required/>
                <label class="form-label" for="name">Name</label>
              </div>
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" required/>
                <label class="form-label" for="email">Email address</label>
              </div>
              <div class="form-outline mb-4">
                <textarea class="form-control" style="resize: none;" id="message" rows="4" required></textarea>
                <label class="form-label" for="message">Message</label>
              </div>
              <button class="btn btn-info btn-block mb-4" id="sendBtn" (click)="TrySendEmail()" >Send</button>
              <span style="color:red" id="sendErrorMessage"></span>
            </form>
          </div>
        </div>
        <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100"><iframe src="https://maps.google.com/maps?q=Copenhagen&t=&z=13&ie=UTF8&iwloc=&output=embed" width="500" height="400" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe></div>
      </div>
    </div>
  </div>