<div class="shadow-1-strong bg-white my-5 p-5" id="skills">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Professional Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3"><span class="fw-bolder">.Net / .Net Framework</span></div>
          <div class="mb-3"><span class="fw-bolder">SQL</span></div>
          <div class="mb-3"><span class="fw-bolder">JavaScript</span></div>
          <div class="mb-3"><span class="fw-bolder">Angular</span></div>
          <div class="mb-3"><span class="fw-bolder">Python</span></div>
          <div class="mb-3"><span class="fw-bolder">CI/CD</span></div>
        </div>
        <div class="col-md-6">
          <div class="mb-3"><span class="fw-bolder">Software Architecture</span></div>
          <div class="mb-3"><span class="fw-bolder">Agile Software Development</span></div>
          <div class="mb-3"><span class="fw-bolder">Clean Code</span></div>
          <div class="mb-3"><span class="fw-bolder">Azure</span></div>
          <div class="mb-3"><span class="fw-bolder">Infrastructure</span></div>
        </div>
      </div>
    </div>
  </div>