<header class="d-print-none">
  <app-navbar></app-navbar>
</header>
<div class="page-content">
  <div class="container">
  <div class="resume-container">
    <section-welcome></section-welcome>
    <section-about></section-about>
    <section-skills></section-skills>
    <section-experience></section-experience>
    <section-education></section-education>
    <section-certificates></section-certificates>
    <section-hobbies></section-hobbies>
    <section-contact></section-contact>
  </div></div>
</div>
<app-footer></app-footer>